/* *{outline:1px solid red}*/
@import url('https://fonts.googleapis.com/css?family=Bellefair|Exo+2');


body{font-family: 'Bellefair', serif;}
h1, h2, h3, h4, h5, h6{font-family: 'Exo 2', sans-serif;}
h2{font-size: 1.35rem;}
p{line-height: 1.25em;}
